body {
  font-family: Arial, sans-serif;
  background-color: #85A5CC;
  color: #334466;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #CEDEF2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.controls button, .choice-btn, #fileInput {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.choice-btn {
  background-color: #ADC1D9;
  color: #334466;
  border: none;
  cursor: pointer;
}

.choice-btn.selected {
  background-color: red;
  color: white;
}

button:disabled {
  background-color: #4A678A;
  color: white;
}

.question-area {
  margin: 20px 0;
}

.stats {
  margin-top: 20px;
}
